<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Телефонная книга</title>

    <link rel='stylesheet' href='/node_modules/bootstrap/dist/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/libs/BootstrapFormHelpers/bootstrap-formhelpers.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <script defer src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script defer src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src="/libs/BootstrapFormHelpers/bootstrap-formhelpers.js"></script>
    <script defer src="/node_modules/vue/dist/vue.min.js"></script>

    <script type="module" defer src="/javascripts/phoneBook.js"></script>
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
