html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.grey {
    background-color: #EEEEEE;
}

.white {
    background-color: white;
}

.head {
    background-color: #3498DB;
    color: white;
}

.page {
    width: 858px;
    height: 310px;
    margin-left: auto;
    margin-right: auto;
}

.my_table {
    text-indent: 15px;
    font-size: 19px;
    font-family: "Arial", sans-serif;
    color: dimgrey;
}

.my_table td {
    border: 1px solid #CCCCCC;
    vertical-align: middle;
}

.head td {
    height: 50px;
}

.white, .grey td {
    height: 51px;
}

.first_detail {
    width: 175px;
}

.second_detail {
    width: 173px;
}

.third_detail {
    width: 310px;
}

.fourth_detail {
    width: 200px;
}