<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">

    <title>Телефонная книга</title>

    <script defer src="node_modules/jquery/dist/jquery.min.js"></script>
    <script defer src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src="node_modules/vue/dist/vue.min.js"></script>

    <link rel="stylesheet" href="libs/BootstrapFormHelpers/bootstrap-formhelpers.min.css">
    <script defer src="libs/BootstrapFormHelpers/bootstrap-formhelpers.min.js"></script>

    <script defer src="script.js"></script>
</head>
<body>
<div v-cloak class="container" id="app">
    <div class="row">
        <h3 class="header col">Phone book</h3>
    </div>
    <div class="row">
        <phone-book></phone-book>
    </div>
</div>

<script type="text/x-template" id="contact-template">
    <tr>
        <td><!--suppress HtmlFormInputWithoutLabel -->
            <input type="checkbox" v-model="item.checked"></td>
        <td>{{ index+1 }}</td>
        <td>{{ item.surname }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.phone }}</td>
        <td>
            <button type='button' @click="deleteContact" class="btn btn-outline-danger" title='Удалить контакт'>x
            </button>
        </td>
    </tr>
</script>

<script type="text/x-template" id="table-template">
    <div class="container">
        <div class="row">
            <table class="table-bordered border-primary col-md-6 col-sm-12">
                <thead class="table-success">
                <tr>
                    <td>
                        <!--suppress HtmlFormInputWithoutLabel -->
                        <input type="checkbox" v-model="isMainChecked" @change="checkAll">
                    </td>
                    <th scope="col">№</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Номер телефона</th>
                    <th scope="col">Удалить контакт</th>
                </tr>
                </thead>
                <tbody>
                <contact class="py-2"
                         v-for="(item, index) in items"
                         :item="item"
                         :index="index"
                         @delete-contact="deleteContact"
                         :key="item.id"></contact>
                </tbody>
            </table>
            <form class="col-md-6 col-sm-12">
                <label>
            <span>
                Введите имя:
            </span>
                    <input type="text"
                           v-model="name"
                           class="form-control"
                           title="Введите имя"
                           :class="{'is-valid': isNameValid, 'is-invalid': !isNameValid}">
                </label>
                <div class="error">{{ nameAlert }}</div>
                <hr>
                <label>
            <span>
            Введите фамилию:
                </span>
                    <input type="text"
                           v-model="surname"
                           title="Введите фамилию"
                           class="form-control"
                           :class="{'is-valid': isSurnameValid, 'is-invalid': !isSurnameValid}">
                </label>
                <div class="error">{{ surnameAlert }}</div>
                <hr>
                <label>
            <span>
            Введите номер телефона:
                </span>
                    <input type="text"
                           v-model="phone"
                           v-if class="form-control bfh-phone"
                           data-format="d(ddd)-ddd-dd-dd"
                           maxlength="16"
                           :class="{'is-valid': isPhoneValid,'is-invalid': !isPhoneValid}">
                </label>
                <div class="error">{{ phoneAlert }}</div>
                <hr>
                <button type="button" @click="addContact" class="btn btn-primary">Добавить</button>
                <hr>
                <button type="button" @click="deleteSelectedContacts" class="btn btn-danger">Удалить выделенные контакты
                </button>
            </form>
        </div>
    </div>
</script>
</body>
</html>